* {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}

:root {
	--red: #FA3644;
	--green: #2AF644;
}

h1{
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}

#logo-decoration {
	color: white;
	text-decoration: none;
}
pre {
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* CSS3 */
	word-wrap: break-word; /* IE 5.5+ */
}

textarea {
	resize: none;
	width: 500px;
	height: 200px;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.errorMessages {
	color: white;
	background: #CC146A;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;

}

.successMessages {
	color: green;
	width: 800px;
	margin: 0 auto;
}


.site-header {
	background: #2a3644;
	display: flex;
	padding: 10px 20px;
	position: fixed; /* 固定表示 */
	justify-content: space-between;
	width: 100%;
	z-index: 1000;
}

.login_user_name {
	color: yellow;
}

.gnav__menu {
	list-style: none;
	display: flex;/* 並列 */
}

.gnav__menu__item {
	margin-left: 20px;
}

.gnav__menu__item a {
	color: white;
	text-decoration: none;
}

.main-contents {
	line-height: 1.6;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 50px;
	width: 900px;
}

.login-contents {
	background: pink;
	line-height: 1.6;
	margin: 0 auto;
	padding-top: 100px;
	width: 800px;
}

/* LoginCSS */
.login-form {
	margin: 70px auto;
	background: #2a3644;
	width: 347px;
	text-align: center;
	padding: 40px;
}

.input-group {
	margin-top: 20px;
}

.form-control {
	width: 300px;
	height: 30px;
}

.login-button {
	position: relative;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 17px;
	width: 270px;
	font-size: 1.2em;
	background: #f26964;
	color: #f4f4f4;
	cursor: pointer;
}

.login-button {
	padding-top: 10px;
	margin: 30px auto 30px auto;
}

/* TopCSS */
.search-form-label {
	width: 150px;
	background: white;
	position: relative;
	left: 29px;
	top: -15px;
	text-align: center;
}
.search {
	border: solid 1px black;
	border-radius: 10px;
}

.search-button {
	position: relative;
	left: 465px;
	top: -25px;
	background: #2A36F4;
	color: white;
	border: solid 1px #2A36F4;
	width: 35px;
	height: 35px;
	border-radius: 10px 10px 10px 10px;
}

.date-area {
	position: relative;
	left: 40px;
}
.category-area {
	position: relative;
	top: 10px;
	left: 40px;
}

.search-icon {
	width: 20px;
	height: 20px;
}

.post {
	border: solid 2px brack;
	margin: 10px;
}

.post-content-body {
	padding: 0.2em 0.5em;
	margin: 2em 0;
	background: #d6ebff;
	box-shadow: 0px 0px 0px 10px #d6ebff;
	border: dashed 2px white;
}

.comment-contents {
	padding: 0.5em 1em;
	margin: 1em 0;
	background: #f4f4f4;
	border-left: solid 6px #5bb7ae;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

.square_btn {
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.post_delete_btn, .comment_delete_btn {
	background: var(--red); /*色*/
	border: solid 1px var(--red); /*線色*/
}

.post_delete_btn {
	position: relative;
	left: 700px;
	top: -10px;
}

.comment_delete_btn {
	position: relative;
	left: 680px;
	top: -100px;
}

.comment_create_btn {
	background: green; /*色*/
	border: solid 1px green; /*線色*/
	position: relative;
	left: 10px;
	top: 10px;
}

th, td {
	border-bottom: 1px solid #005FCC;
	padding: 3px;
	text-align: center;
	width: 20%;
}

th {
	color: #FFFFFF;
	background: #2a3644;
}

tr:nth-child(odd) {
	background: #DDF1F4;
}
tr:hover {
	background: #FFCCCC;
}

.user_delete_button {
	color: white;
	background: var(--red);
	border: solid 1px var(--red); /*線色*/
}

.user_restore_button {
	color: white;
	background: var(--green);
	border: solid 1px var(--green); /*線色*/
}

.user_edit_button {
	background: #2A36F4;
	border: solid 1px #2A36F4; /*線色*/
}

/* formのCSS */
.user-edit-form, .user-new-form, .new-post-form {
	width: 800px;
	background: #2a3644;
	color: white;
	padding: 20px 50px;
	margin: 0 auto;
}

/* CreateUserのCSS */
.create-user-button, .new-user-button {
	color: white;
	background: var(--green);
	border: solid 1px var(--green); /*線色*/
}

.edit-user-button {
	color: white;
	background: #2A36F4;
	border: solid 1px #2A36F4; /*線色*/
}


